/* Vào figma -> view -> layout grid để xuất hiện lưới kiểm tra xem tất cả các phần có nằm trong cùng 1 độ rộng hay không. Phím tắt là Shift+G */
/* font-style: normal; */
/* Chữ thường, không in nghiêng */
* {
  box-sizing: border-box;
  /* Khi dùng thì lúc set padding hay border phần nội dung sẽ co nhỏ lại cách khung 1 khoảng. Phần khung ngoài luôn cố định kích thước */
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  /* Tất cả thuộc tính sẽ tự động thừa kế xuống các thẻ con */
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ================= common ================= */

.container {
  width: 1170px;
  /* Mặc định giữ chiều rộng theo width.
   Khi màn hình quá nhỏ, container tự co lại và luôn chừa tổng 48px
   (24px bên trái + 24px bên phải). */
  max-width: calc(100% -48px);
  /* Căn cả box container ra giữa trang */
  margin: 0 auto;
}

/* Thẻ <a> mặc định có cursor: pointer nên hover sẽ hiện hình bàn tay */
a {
  /* Bỏ gạch chân tất cả thẻ <a> */
  text-decoration: none;
}

.btn {
  /* Chuyển thẻ <a> sang inline-block để set width, height, padding...
   nhưng vẫn nằm cùng dòng như inline */
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

/* ================= header ================= */

.header {
  padding-top: 30px;
  background: var(--header-bg);
  /* Giúp phần header hiển thị tối thiểu bằng chiều cao màn hình,
   tạo giao diện full-screen và tập trung sự chú ý của người dùng */
  min-height: 100vh;
}

/* ============= header-top ============= */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  /* Tạo khoảng cách giữa các link và tăng vùng có thể click,
     giúp người dùng dễ bấm hơn mà không cần đưa chuột chính xác vào chữ */
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

/* Tất cả link khi di chuột vào và link được active đều chung thuộc tính */
.navbar__link:hover,
.navbar__link--active {
  /* Tạo chữ đậm giả bằng text-shadow để tránh layout bị xê dịch
       khi đổi từ font-weight: 300 sang 400 */
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

/* Tạo chấm tròn phía trước menu active */
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  /*Dùng position: relative
   để tinh chỉnh vị trí của chấm */
  position: relative; /* Dùng để dịch chuyển phần tử so với vị trí ban đầu của chính nó */
  /* dịch lên 3px và sang trái 8px so với vị trí mặc định của nó */
  top: -3px;
  right: 8px;
}
/* position: relative, quy tắc:

top: +  => xuống
top: -  => lên

left: + => sang phải
left: - => sang trái

right: + => sang trái
right: - => sang phải

bottom: + => lên
bottom: - => xuống */

.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  /* Kế thừa các thuộc tính chung từ .navbar__link,
       chỉ cần chỉnh thêm khoảng cách bên phải */
  margin-right: 7px;
}

/* ============= hero ============= */

.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  /* Lấy width hero__content chia cho width container ra tỉ lệ */
  width: 44%;
}

.hero__media {
  /* Để phần hero__media tự động giãn ra sau khi trừ đi width hero__content */
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  /* Mặc định font-weight: 400. Nên lớp nào có thì có thể bỏ đi */
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  /* Mặc định font-weight: 400. Nên lớp nào có thì có thể bỏ đi */
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img-small {
  width: 210px;
  height: 410px;
}

/* ================= main ================= */

/* ============= service ============= */
.service {
  padding: 170px 0;
  background: #fff;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 0;
  /* margin: 0 auto; Không ghi như vậy được vì nó sẽ ghi đè chỗ margin-top: 18px ở lớp chung section-desc phía trên */
}

/* p là phần tử block nên mặc định rộng 100% thẻ cha */

/* text-align: center; chỉ căn giữa NỘI DUNG văn bản bên trong thẻ p,
   không căn giữa chính thẻ p */

/* Khi set width: 468px, thẻ p không còn rộng 100% nữa,
   nên nó sẽ nằm sát trái theo mặc định */

/* margin: 0 auto; dùng để căn giữa chính khối p
   trong thẻ cha khi khối có width xác định */

/* Điểm dễ nhầm là:
   text-align: center → căn giữa chữ.
   margin: 0 auto → căn giữa khối (box). */

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  padding: 21px;
  /* Tạo khoảng đệm bên trong card.
       Nội dung không dính sát viền. */
  display: flex;
  /* Xếp icon và phần text nằm ngang. */
  width: 470px;
  /* Chiều rộng cố định của mỗi service card. */
  border-radius: 10px;
  /* Bo tròn 4 góc card. */
  background: #fff;
  /* Nền trắng cho card. */
  transition: 0.25s;
  /* tạo hiệu ứng chuyển đổi mượt trong 0.25 giây  */
}

.service-item:hover {
  position: relative;
  /* position: relative; để nhất từng item ra khi hover 
       tránh để bóng các item đè lên nhau */

  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
  /* Đổ bóng khi rê chuột vào card
       tạo hiệu ứng nổi lên khỏi nền. */
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
  /* Hover card -> icon bên trong chuyển nền xanh, icon màu trắng */
}

.service-item__icon {
  width: 60px;
  height: 60px;
  /* Tạo khung icon hình vuông 60x60px. */
  border-radius: 30px;
  /* Biến hình vuông thành hình tròn.
       30px = 1/2 của 60px. */
  background: #eff6fd;
  /* Màu nền xanh nhạt phía sau icon. */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  /* Đổ bóng nhẹ cho vòng tròn icon. */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Căn icon SVG/ảnh vào chính giữa vòng tròn. */
  flex-shrink: 0;
  /* Không cho icon bị co lại khi thiếu chỗ. */
  margin-right: 19px;
  /* Tạo khoảng cách giữa icon và phần nội dung. */
  transition: 0.25s;
  /* tạo hiệu ứng chuyển đổi mượt trong 0.25 giây  */
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  /* Chiều cao dòng mặc định theo font */
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  /* Chiều cao dòng gấp 1.75 lần cỡ chữ */
  /* line-height = 1.75 × font-size
            = 1.75 × 1.6rem
            = 2.8rem */
}

.service__btn {
  margin-top: 55px;
}

/* ============= work ============= */

.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Tạo Grid Layout gồm 3 cột có chiều rộng bằng nhau */
  column-gap: 30px;
  /* Tạo khoảng cách 30px giữa các cột */
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  /* Khi di chuột vào:
       - Đổi màu viền để nổi bật hơn
       - Nâng phần tử lên 16px tạo hiệu ứng tương tác */
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  margin-top: 18px;
  /* Chuyển sang inline-block để có thể thiết lập kích thước
   và để margin, padding, border theo chiều dọc hoạt động đúng */
  display: inline-block;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
